&[data-theme='robotic'] {
    --mainTheme: #294F81;
    --themeCompliment: white;

    --button_image_1: url("/Content/images/img/kids/robotic items/robotic_chat.png");
    --button_image_2: url("/Content/images/img/kids/robotic items/robotic_idea.png");

    --themeHeader: url("/Content/images/img/kids/robotic items/main_logo.png");
}