#kidsCourseDetail {
    --scratchTheme: #FFAB1A;
    --greyText: #939393;
    --greyBackground:#F4F4F4 ;
    --greyBorder:#E0E0E0;
    --borderRadius: 20px;
    background-color: #FAF9FF;

    a {
        color: var(--scratchTheme);
        font-weight: bold;
    }

    a.button, button.default {
        background-color: var(--scratchTheme);
        display: inline-block;
        color: #615031;
        border-radius: var(--borderRadius);
        padding: 0.5em 1.6em;

        &.scratched {

            &_1,
            &_2,
            &_3 {
                position: relative;

                &::before {
                    content: "";
                    width: var(--wid);
                    height: var(--wid);
                    display: block;
                    position: absolute;
                    bottom: 100%;
                    background: url("/Content/images/img/scratch items/scratch_selfie.png");
                    --wid: 8em;
                    bottom: calc(100% - 1.2em);
                    left: calc(100% - 3.9em);
                    background-size: contain;
                }
            }

            &_2::before {
                background: none
            }

            &_3::before {
                background-image: url("/Content/images/img/scratch items/scratch_happy.png");
                left: 59%;
                bottom: 29%;
            }

        }

        &.square {
            border-radius: 7px;
        }
        &.bold {
            font-weight: bold;
        }
    }


    header {
        background-color: var(--scratchTheme);
        color: white;
        font-size: 2.6em;
        padding: 5.5em;
        padding-top: 4em;
        position: relative;
        margin-bottom: 9em;

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1.1em;
            position: absolute;
            left: 0;
            right: 0;

            span {
                color: #ffffffa1;
            }

            img {
                width: 16em;
                margin-top: -1em;
            }

        }

        &::before {
            content: "";
            width: 100%;
            background-color: #FFAB1A;
            height: 7.3em;
            position: absolute;
            top: 100%;
            clip-path: ellipse(60% 100% at 50% -40%);
            right: 0;
        }

    }

    >*:not(header) {
        margin: 0 5em;
        margin-bottom: 5em;
    }

    main.courseDetails {
        @import '../content/source/innerContent';

        .video {
            margin: 6em 0;

            h3,
            h2,
            h4 {
                text-align: center;
                font-size: 1.4rem;
            }

            video {
                margin: auto;
                display: block;
                background: #D9D9D9;
                border-radius: var(--borderRadius);
                width: 100%;
                max-width: 70em;

            }
        }
    }

    > section {
        >h2,
        >h3 {
            border-bottom: 2px solid transparent;
            border-image: linear-gradient(to left, var(--scratchTheme) 0% var(--border-size), transparent var(--border-size) 100%);
            border-image-slice: 1;
            --border-size: 38px;
            margin-bottom: 2em;

            span {
                color: var(--scratchTheme);
            }
        }
    }

    section.termCard {
        font-size: 1.3em;
        background: white;
        display: flex;
        gap: 1.5em;
        border-radius: var(--borderRadius);
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.09);
        padding: 2.3em;

        img {
            --wid: 20.9em;
            width: var(--wid);
            height: var(--wid);
            object-fit: contain;
            border-radius: var(--borderRadius);
        }

        .left {
            p {
                color: var(--greyText);
            }

            .info div span {
                color: var(--greyText);
            }
        }
    }

    section.smapleProject .content {
            display: flex;
            flex-wrap: wrap;

            >div {
                flex: 0 0 25%;
                padding: 0 1em;
                margin-bottom: 3em;

                img {
                    width: 100%;
                    border-radius: var(--borderRadius);
                }

                .title {
                    color: var(--scratchTheme);
                    font-weight: bold;
                    font-size: 1.5em;
                    margin: 0.5em 0;
                }

                p {
                    color: var(--greyText);
                    font-size: 1.1em;
                    line-height: 2em;
                    max-height: 4em;
                    overflow: hidden;
                }

                .user {
                    margin-top: 1em;
                    img {
                        width: 4em;
                        border-radius: 50%;
                        float: right;
                        margin-left: 1em;
                    }

                    span {
                        display: block;
                        line-height: 0.7em;
                        color: var(--grey);
                    }
                }
            }
    }

    section#kids_comments {
        h2,h3 {
           text-align: center; 
           font-size: 2em;
           font-weight: 800;
           border: none;
           position: relative;

           &::before {
            content: "";
            width: 3px;
            height: 1em;
            display: block;
            background: var(--scratchTheme);
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: calc(100% + 0.5em);
           }
        }
        > main {
            background-color: var(--greyBackground);
            border-radius: var(--borderRadius);
            padding: 5em;

            form {
                border: 1px solid var(--greyBorder);
                border-radius: var(--borderRadius);
                padding: 2em;

                p {
                    font-weight: 600;
                    font-size: 1.5em;
                    padding-bottom: 1em;
                }

                textarea {
                    border-radius: var(--borderRadius);
                    width: 100%;
                    resize: none;
                    font-family: inherit;
                    padding: 1em;

                    &.error {
                        border: 1px solid red;
                    }
                }

                button {
                    font-size: 1.3em;
                    margin-top: 1em;
                    margin-right: auto;
                    display: block;
                }
            }

            .comment {
                margin: 4em 0;
                .title {
                    color: var(--greyText);
                    font-weight: bold;
                    font-size: 1.4em;
                }
                span {
                    color: var(--greyText);
                    &::after {
                        content: '';
                        border-bottom: 1px solid var(--greyBorder);
                        display: block;
                    }
                }
                button {
                    background: none;
                    color: var(--greyText);
                    font-size: 1.4em;

                    &::before {
                        content: '\f3e5';
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-left: .4em;
                    }
                }
            }
        }
    }
}


hr {
    margin-top: 20em;
}