@import '../content/source/Variables';

html {
    overflow: hidden;
}

#kidsCourseDetail {
    --greyText: #939393;
    --greyBackground: #F4F4F4;
    --greyBorder: #E0E0E0;
    --borderRadius: 20px;
    --borderRadiusSquare: 7px;
    background-color: #FAF9FF;

    &[data-theme='scratch'] {
        --mainTheme: #FFAB1A;
        --themeCompliment: #615031;

        .withImg {
            &_1::before {
                background-image: url("/Content/images/img/scratch items/scratch_selfie.png");
            }

            &_3::before {
                background-image: url("/Content/images/img/scratch items/scratch_happy.png");
            }
        }
    }

    &[data-theme='python'] {
        --mainTheme: #C39C1A;
        --themeCompliment: white;

        .withImg {
            &_1::before {
                background-image: url("/Content/images/img/scratch items/scratch_selfie.png");
            }

            &_3::before {
                background-image: url("/Content/images/img/scratch items/scratch_happy.png");
            }
        }
    }

    &[data-theme='robotic'] {
        --mainTheme: #294F81;
        --themeCompliment: white;

        .withImg {
            &_1::before {
                background-image: url("/Content/images/img/scratch items/scratch_selfie.png");
            }

            &_3::before {
                background-image: url("/Content/images/img/scratch items/scratch_happy.png");
            }
        }
    }

    a {
        color: var(--mainTheme);
        font-weight: bold;
    }

    a.button,
    button.default {
        background-color: var(--mainTheme);
        display: inline-block;
        color: var(--themeCompliment);
        border-radius: var(--borderRadiusSquare);
        padding: 0.4em 1.6em;
        transition: .1s;
        text-align: center;

        &.withImg {

            &_1,
            &_2,
            &_3 {
                position: relative;

                &::before {
                    content: "";
                    width: var(--wid);
                    height: var(--wid);
                    display: block;
                    position: absolute;
                    bottom: 100%;
                    --wid: 8em;
                    bottom: calc(100% - 1.2em);
                    left: calc(100% - 3.9em);
                    background-size: contain;
                }
            }

            &_2::before {
                background: none
            }

            &_3::before {
                left: 59%;
                bottom: 24%;
            }

        }

        &.bold {
            font-weight: bold;
        }

        &:hover {
            box-shadow: 1px 1px 3px #0000007a;
        }
    }


    header {
        background-color: var(--mainTheme);
        color: white;
        font-size: 2.6em;
        padding: 5.5em;
        padding-top: 4em;
        position: relative;
        margin-bottom: 9em;

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1.1em;
            position: absolute;
            left: 0;
            right: 0;

            h2 {
                text-align: center;
                line-height: 3.6rem;
            }

            span {
                color: #ffffffa1;
            }

            img {
                width: 16em;
                margin-top: -1em;
            }

        }

        &::before {
            content: "";
            width: 100%;
            background-color: var(--mainTheme);
            height: 7.3em;
            position: absolute;
            top: 99%;
            clip-path: ellipse(60% 100% at 50% -40%);
            right: 0;
        }

    }

    main.courseDetails {
        @import '../content/source/innerContent';

        .video {
            margin: 6em 0;

            h3,
            h2,
            h4 {
                text-align: center;
                font-size: 1.4rem;
            }

            video {
                margin: auto;
                display: block;
                background: #D9D9D9;
                border-radius: var(--borderRadius);
                width: 100%;
                max-width: 70em;

            }
        }
    }

    >section,
    >main {
        margin: 0 5rem;
        margin-bottom: 5rem;

        >h2,
        >h3 {
            border-bottom: 2px solid transparent;
            border-image: linear-gradient(to left, var(--mainTheme) 0% var(--border-size), transparent var(--border-size) 100%);
            border-image-slice: 1;
            --border-size: 38px;
            margin-bottom: 2em;

            span {
                color: var(--mainTheme);
            }
        }
    }

    %whiteCard {
        background: white;
        padding: 2.3em;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.09);
        border-radius: var(--borderRadius);
    }

    section.termCard {
        @extend %whiteCard;
        font-size: 1.3em;
        display: flex;
        gap: 1.5em;
        margin-bottom: 2em;

        img {
            --wid: 20.9em;
            width: var(--wid);
            height: var(--wid);
            object-fit: contain;
            border-radius: var(--borderRadius);
        }

        .left {
            position: relative;

            p {
                color: var(--greyText);
            }

            .info div span {
                color: var(--greyText);
            }

            .links {
                display: flex;
                justify-content: space-between;
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }
    }

    section[id^="headline"] {
        @extend %whiteCard;
        margin-bottom: 2em;
        color: var(--greyText);

        h3 {
            border: none;
            color: var(--mainTheme);
            font-weight: bold;
            font-size: 1.5em;
        }

        h4 {
            font-size: 1.4em;
        }

        ul {
            font-size: 0.9rem;
            line-height: 1.4rem;
            margin-block: 0.6em 2em;

            li {
                list-style-type: disc;
                list-style: inside;
            }
        }
    }

    section.smapleProject .content {
        display: flex;
        flex-wrap: wrap;

        .projectItem {
            flex: 0 0 25%;
            padding: 0 1em;
            margin-bottom: 3em;

            img {
                width: 100%;
                border-radius: var(--borderRadius);
            }

            .title {
                color: var(--mainTheme);
                font-weight: bold;
                font-size: 1.5em;
                margin: 0.5em 0;
            }

            p {
                color: var(--greyText);
                font-size: 1.1em;
                line-height: 2em;
                max-height: 4em;
                overflow: hidden;
            }

            .user {
                margin-top: 1em;

                img {
                    width: 4em;
                    border-radius: 50%;
                    float: right;
                    margin-left: 1em;
                }

                span {
                    display: block;
                    line-height: 0.7em;
                    color: var(--grey);
                }
            }
        }

        &.owl-carousel {
            display: block;

            .projectItem {
                padding-right: 0;
            }
        }
    }

    section#kids_comments {

        h2,
        h3 {
            text-align: center;
            font-size: 2em;
            font-weight: 800;
            border: none;
            position: relative;
            margin-bottom: 1em;

            &::before {
                content: "";
                width: 3px;
                height: 1em;
                display: block;
                background: var(--mainTheme);
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: calc(100% + 0.5em);
            }
        }

        >main {
            background-color: var(--greyBackground);
            border-radius: var(--borderRadius);
            padding: 5em;

            @at-root .kids_comments_form,
            #kidsCourseDetail section#kids_comments>main form {
                border: 1px solid var(--greyBorder);
                border-radius: var(--borderRadius);
                padding: 2em;
                background-color: var(--greyBackground);

                p {
                    font-weight: 600;
                    font-size: 1.5em;
                    padding-bottom: 1em;
                }

                textarea {
                    border-radius: var(--borderRadius);
                    width: 100%;
                    resize: none;
                    font-family: inherit;
                    padding: 1em;

                    &.error {
                        border: 1px solid red;
                    }
                }

                button {
                    font-size: 1.3em;
                    margin-top: 1em;
                    margin-right: auto;
                    display: block;
                }

                &.kids_comments_form {
                    font-size: .7em;
                }
            }

            .comment {
                margin: 5em 0;

                .title {
                    color: var(--greyText);
                    font-weight: bold;
                    font-size: 1.4em;
                }

                p {
                    font-size: 1.3em;
                }

                span {
                    color: var(--greyText);

                    &::after {
                        content: '';
                        border-bottom: 1px solid var(--greyBorder);
                        display: block;
                        margin-bottom: 1em;
                    }
                }

                button {
                    background: none;
                    color: var(--greyText);
                    font-size: 1.4em;
                    margin-top: 1em;

                    &::before {
                        content: '\f3e5';
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-left: .4em;
                    }
                }
            }
        }
    }

    @include media($laptop) {
        section.termCard {
            flex-direction: column;
            align-items: center;

            .left .links {
                position: static;
                margin-top: 2em;
            }
        }

        section.smapleProject .content div {
            flex: 0 0 50%;
        }
    }

    @include media($tablet) {

        >main,
        >section {
            margin-inline: 1rem;
        }

        header section img {
            width: 100%;
            max-width: 15em;
        }

        section.termCard .left .links a.button {
            flex-shrink: 0;
            height: max-content;
        }
    }

    @include media($mobile) {
        header {
            padding: 5.3em 0;
            padding-top: 1.4em;
        }

        section.termCard {
            padding: 1em;

            img {
                width: 100%;
                height: auto;
            }

            .info {
                margin-block: 1.1em;
            }

            .links {
                flex-direction: column;
                font-size: .9em;
                gap: .5em;
            }

            a.button,
            button.default {

                &.scratched_1,
                &.scratched_3 {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        section#kids_comments {
            margin-inline: 0.1em;

            >main {
                padding: 1em;
                padding-top: 3em;
            }
        }
    }
}